Codigo_P1/Codigo_En_Clase/Solution_p1/Solution.API.W/bin/
Codigo_P1/Codigo_En_Clase/Solution_p1/Solution.API.W/obj/
Codigo_P1/Codigo_En_Clase/Solution_p1/Solution.API/bin/
Codigo_P1/Codigo_En_Clase/Solution_p1/Solution.API/obj/
Codigo_P1/Codigo_En_Clase/Solution_p1/Solution.BS/bin/
Codigo_P1/Codigo_En_Clase/Solution_p1/Solution.BS/obj/
Codigo_P1/Codigo_En_Clase/Solution_p1/Solution.DAL.EF/bin/
Codigo_P1/Codigo_En_Clase/Solution_p1/Solution.DAL.EF/obj/
Codigo_P1/Codigo_En_Clase/Solution_p1/Solution.DAL.Repository/bin/
Codigo_P1/Codigo_En_Clase/Solution_p1/Solution.DAL.Repository/obj/
Codigo_P1/Codigo_En_Clase/Solution_p1/Solution.DAL/bin/
Codigo_P1/Codigo_En_Clase/Solution_p1/Solution.DAL/obj/
Codigo_P1/Codigo_En_Clase/Solution_p1/Solution.DO/obj/
Codigo_P1/Codigo_En_Clase/Solution_p1/.vs/
Codigo_P1/Codigo_En_Clase/Solution_p1/Solution.DO/bin/
