@{
    ViewData["Title"] = "Description Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Variable 1 @ViewBag.Variable1</p>
    <p>Variable 2 @ViewData["Variable2"]</p>
</div>
