@{
    ViewBag.Title = "Mi Display Template";

}

<h2> Mi Display Template </h2>

<h3>
    Display
</h3>
@Html.Display("propiedad")
<div></div>
<div></div>
<div></div>

<h3>
    Editor
</h3>
@Html.Editor("propiedad")