@{
    ViewData["Title"] = "Description Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>Nombre 2 @ViewData["nombre"]</p>
    <p>Edad 2 @ViewBag.edad</p>
</div>
